<!-- ======= Header ======= -->
<header #header id="header" class="fixed-top">
  <div class="container d-flex justify-content-between align-items-center">

    <!-- <h1 class="logo me-auto me-lg-0"><a [routerLink]="'/welcome'">Steph Loughman <i class="bi bi-book"></i></a></h1> -->
    <!-- Uncomment below if you prefer to use an image logo -->
    <a routerLink="/welcome" class="logo"><img width="120" src="assets/img/logo_darker.svg" alt="" class="img-fluid"></a>

    <nav id="navbar" class="navbar order-last order-lg-0" [ngClass]="showMobileNav ? 'navbar-mobile':''">
      <ul [style.display]="header.clientWidth < 760 ? (showMobileNav ? 'block':'none'):'flex'">
        <!-- <li><a routerLinkActive="active" routerLink="/welcome">Home</a></li> -->
        <li><a routerLinkActive="active" routerLink="/about">About</a></li>
        <li><a routerLinkActive="active" routerLink="/books">Books</a></li>
        <li><a routerLinkActive="active" routerLink="/events">Events</a></li>
        <li><a  routerLinkActive="active"routerLink="/blog">Blog</a></li>
        <li><a routerLinkActive="active" routerLink="/contact">Contact</a></li>
      </ul>
      <i class="bi mobile-nav-toggle" [ngClass]="showMobileNav ? 'bi-x':'bi-list'" *ngIf="header.clientWidth < 760" (click)="toggleMobileNav()"></i>
    </nav><!-- .navbar -->

    <div class="header-social-links">
      <a href="https://twitter.com/stepharoo1974" target="_blank" class="twitter"><i class="bi bi-twitter"></i></a>
      <a href="https://www.facebook.com/TheJourneyStephLoughman" target="_blank" class="facebook"><i class="bi bi-facebook"></i></a>
      <a href="https://www.instagram.com/stepharooooo1974" target="_blank" class="instagram"><i class="bi bi-instagram"></i></a>
      <a href="https://www.linkedin.com/in/steph-loughman-638059138/" target="_blank" class="linkedin"><i class="bi bi-linkedin"></i></a>
    </div>

  </div>

</header><!-- End Header -->

<main class="main" id="main">
  <router-outlet></router-outlet>
</main>

<!-- ======= Footer ======= -->
<footer id="footer">
  <div class="container">
    <div class="copyright">
      &copy; Copyright 2021 <strong><span>Steph Loughman | Author</span></strong>.<br/>
      All Rights Reserved
    </div>
    <div class="credits">
      Made with <i class="bi bi-heart"></i> by <a href="https://suremarketingsolutions.com/">Sure Marketing Solutions</a>
    </div>
  </div>
</footer><!-- End  Footer -->

<div id="preloader" *ngIf="isLoading"></div>
<button class="back-to-top d-flex align-items-center justify-content-center" (click)="backToTop()"><i
    class="bi bi-arrow-up-short"></i></button>
